
/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#myBtn {
  padding: 10px 20px;
  background-color: #cad2c5;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  background-color: #000000cb;
  margin: auto;
  padding: 20px;
  border: 1px solid #000000;
  width: 50%;
  color: rgb(255, 255, 255);
}

#titulo{
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    font-size: 2em;
    font-weight: bold;

}
  /* The Close Button */
.close {
  color: #f5f5f5;
  float: right;
  width: 25px;
  height: 25px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.close:hover,
.close:focus {
  color: #7e7e7e;
  text-decoration: none;
  cursor: pointer;
}

