@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: url("./imagenes/ladrillo4.jpg");

}

header>div:nth-of-type(1) {
    color: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-transform: uppercase;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin-left: 60px;
    margin-top: 55px;
    ;
    padding: 10px;
    width: 180px;
    background-size: cover;
    height: 180px;
}

.logo2 myBtn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    margin-top: 350px;
}

.logo2 img {
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-right: 35px;

}

main {
    flex: 1;
}

.close-caja {
    display: flex;
    justify-content: flex-end;
}

.addTarea {
    color: #161616;
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.addTarea button {
    font-weight: 600;
}

#label-descrip {
    font-weight: 600;
}

.contenedor-tareas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#caja-de-tareas {
    width: 70%;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url("./imagenes/corcho-ecologico.jpg");
    background-size: cover;
    border-image: url("./imagenes/madera2.jpg") 20;
    border-image-width: 18px;
    border-image-outset: 18px;
    overflow-y: scroll;
    box-shadow: 3px 30000px 100px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

#caja-de-tareas>div {
    color: #000000;
    margin: 10px;
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

#caja-de-tareas>div>h4 {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.477);
    border-radius: 5px;
    padding: 10px;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 600;
}

#caja-de-tareas>div>p {
    overflow: scroll;
    scrollbar-width: none;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-align: center;

}

#caja-de-tareas>div span {
    font-size: 14px;
    font-weight: 600;
    font-family: "Indie Flower", cursive;
    text-align: center;
}

#caja-de-tareas>div span:nth-of-type(1) {
    margin-right: 7px;
}

.fa-trash {
    transition: 600ms;
}

.fa-trash:hover {
    color: #7a7a7a;
    cursor: pointer;
}

.nota-azul {
    background-image: url("./imagenes/nota_azul.png");
    background-size: cover;
    padding: 49px 35px 20px 35px;
}

.nota-azul>* {
    transform: rotate(4deg);
}

.nota-lila {
    background-image: url("./imagenes/nota_lila.png");
    background-size: cover;
    padding: 45px 35px 25px 35px;
}

.nota-lila>* {
    transform: rotate(2deg);
}

.nota-naranja {
    background-image: url("./imagenes/nota_naranja.png");
    background-size: cover;
    padding: 57px 55px 40px 45px;
}

.nota-naranja>* {
    transform: rotate(-5deg);
}

.nota-roja {
    background-image: url("./imagenes/nota_roja.png");
    background-size: cover;
    padding: 47px 30px 20px 45px;
}

.nota-roja>* {
    transform: rotate(3deg);
}

.nota-turquesa {
    background-image: url("./imagenes/nota_turquesa.png");
    background-size: cover;
    padding: 72px 28px 40px 61px;
}

.nota-turquesa>* {
    transform: rotate(-5deg);
}

textarea {
    resize: none;
    max-height: 150px;
}

.invalid-feedback {
    font-weight: bold;
}

.input-group-text {
    font-weight: 600;
    font-size: 1.2em;
}

.divBotton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#caja-respuestas {
    font-size: 1.2em;
    height: 70px;
    width: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-pen-to-square {
    transition: 200ms;
}

.fa-pen-to-square:hover {
    cursor: pointer;
    color: #7a7a7a;
}

.divPE>i:nth-of-type(1) {
    margin-right: 10px;
}

.divPE>i:nth-of-type(2) {
    margin-left: 10px;
}