
body {
    padding: 20px;
    text-align: center;
    background: linear-gradient(70deg, rgb(255, 0, 0), rgba(51, 0, 255, 0.305));


}
.borrar{
    display: flex;
    height:10px;
    justify-content: center;
    align-items: center;
}

.borrar:hover{
    
    cursor: pointer;
    background-color: aqua;
}

input {

    background-color: rgba(6, 255, 214, 0.385);
    ;
    border-color: rgb(7, 158, 133);
    width: auto;
    padding: 3px;
    color: black;
    height: 15px;
    padding: 10px;
}

label {

    font-weight: bold;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 6px;
    display: flex;
    color: black;
    padding: 10px;

}

button {
    color: black;
    background-color: rgba(6, 255, 214, 0.671);
    margin-top: 2px;
    padding: 20px;
    border-radius: 30px;
}

button:hover{
    
    cursor: pointer;
    background-color: aqua;
}

h3 {
    display: flex;

    background-color: antiquewhite;
    border: 10px;
    width: 35%;
    border-radius: 15%;
    text-align: center;
}

h2 {
    display: flex;
    background-color: green;
    font-size: medium;
    border-style: dotted;
    border: 10px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    border-width: 15px;
    text-align: center;
}

#cajaResultados {
    display: inline;

    background-color: white;

    width: 25%;
    text-align: left;
    border-radius: 10%;

}

#resultado {
    margin: 4px;
    display: flex;
    background: linear-gradient(70deg, rgb(255, 0, 0), rgba(51, 0, 255, 0.305));
    padding: 10px;
    border-radius: 10px;
    border: solid 5px black;
}

#encabezados {


    text-align: left;
    font-size: x-large;
    background: linear-gradient(70deg, rgb(255, 0, 0), rgba(51, 0, 255, 0.305));
    border-color: black;
    border-width: 5px;
    
    width: auto;
    height: auto;
    border-radius: 10%;
    padding: 15px;
    justify-content: space-around;
}

#contenido {
margin: 1px;
    text-align: justify;
    font-size: medium;
    background-color: green;
    border-color: black;
    border-width: 5px;
    border-style: double;
    width: auto;
    height: auto;
    border-radius: 10%;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    background-color: rgba(3, 73, 61, 0.486);
    height: auto;
    width: auto;
    border-radius: 15px;
    justify-content: space-between;
    border: solid 5px black;

}

#fechas {
    display: flex;
}

header {

    margin-bottom: 25px;
}

#alertas {
    margin-bottom: 20px;
    font-size: 30px;
}
#cuadro1{
    width: 5%;
}
#cuadro2{
    width: 35%;
}
#cuadro3{
    width: 10%;
}